@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?k9j1ma');
  src:  url('fonts/icomoon.eot?k9j1ma#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?k9j1ma') format('truetype'),
    url('fonts/icomoon.woff?k9j1ma') format('woff'),
    url('fonts/icomoon.svg?k9j1ma#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-noun_Woman_1678288:before {
  content: "\e907";
}
.icon-noun_Park_3280517:before {
  content: "\e900";
}
.icon-noun_Bride_1566326:before {
  content: "\e902";
}
.icon-noun_Camera_4362411:before {
  content: "\e901";
}
.icon-noun_Birthday_2039342:before {
  content: "\e903";
}
.icon-noun_Birthday_1528491:before {
  content: "\e905";
}
